@import "variables";



.button-primary {
	//display: flex;
	flex-direction: row;
    align-items: center;
    text-align: center;

	
	font-family: Mulish;
	font-weight: 600;
	letter-spacing: 1.5px;
	font-size: 14px;
	border: 0px;
	color: white;
	width: 150px;
	height: 58px;
	left: 43px;
	top: calc(50% - 58px/2 - 368px);
    background-color: $primary;
  cursor:pointer;
	&:active {
		background: $primary;
		border: 0px;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	&:focus {
		outline: 0;
		background: $primary;
		border: 0px;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	&:hover
	{
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	font-family: Mulish;
	font-weight: 600;
	letter-spacing: 1.5px;
	font-size: 14px;
	padding-top: 20px;
	color: white;
	background-color: $primary;
	width: 150px;
	height: 38px;
	
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inputfile:focus + label,
.inputfile + label:active {
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -5px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
	
}
input[type=radio] ~ label{
	padding:10px;
	font-family: Mulish;
	font-weight: 500;
	letter-spacing: 1.5px;
	font-size: 20px;
	color: $main-text;
  }

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -5px;
	left: -1px;
	position: relative;
	background-color: $primary;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
.form-radio{
	display: inline;
	
}
.original-button
{
	position: absolute;
	border: transparent 0px;
	background-color: transparent;
	left:875px;
	top:675px;
	cursor:pointer;	
}
.img
{
	border: 0px;
	&:focus {
		outline: 0;
	}

}