.page-content
{
    display: flex;
    width: 100%;
    margin-top: 7%;

}
.content-column
{
    align-content: center;
    align-items: center;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    width: max-content;
}
.fractal-information
{
    padding-left: 5%;
    width: 100%;
   // margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    align-content: center;
    align-items: center;
    text-align: center;
}

.content-input
{
    align-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.content-button
{
    align-content: center;
    align-items: center;
    margin-top: 5%;
  
}

.original-canvas
{

        
    position: absolute;
    top: 70;
    left: 200;
}

.container-row
{
    width: 1000px;
    height: 600px;
    position: relative;
    margin: 20px;
}
.color-information
{
   
    align-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50%;
}
