@import "variables";
.page-content
{
    display: flex;
    width: 100%;
    margin-top: 6%;

}
.content-column
{
    align-content: center;
    align-items: center;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    width: max-content;
}
.fractal-information
{
    width: 100%;
    margin-left: -5%;
    margin-right: 5%;
    padding-top: 5%;
    align-content: center;
    align-items: center;
    text-align: center;
}

.content-input
{
    align-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.content-button
{
    align-content: center;
    align-items: center;
    margin-top: 5%;
  
}

.original-canvas
{   
    position: absolute;
    top: 70;
    left: 200;
}

.container-row
{
    width: 1000px;
    height: 600px;
    position: relative;
    margin: 20px;
}
.color-information
{
   margin-top: 30px;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50%;
}
.color-values
{
    position: absolute;
    left:75px;
    top:680px;
    background-color: rgba(255, 255,255, 0.5);
    text-align: left;
    
}
.button-group{
    padding-left: 55px;
    align-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}
.loader-margins
{
     margin-left: 10px;
}
.home-background{
    background-color: $secondary;
    position: relative;
    height: 845px;
    margin: 0;
}
.home-bottom-text
{
    position: absolute;
    left:150px;
    top:85px;

}
.home-logo
{
    padding-left: 20px;
    margin-top: -95px;
    height: 380px;
    height: 380px;
}

.home-columns
{
    margin-top: 30px;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.home-column
{
 
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
    width: 360px;
}
.home-column-icon
{
    height: 70px;
    width:  80px;
}
.home-help-conteiner
{
    margin-top: 30px;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align:middle;
    margin-bottom: 30px;
}
.shape-information
{
    width: 100%;
    margin-left: -5%;
    margin-right: 5%;
    padding-left: 2%;
    align-content: center;
    align-items: center;
    text-align: center;
}
.help-backgroung{
    background-color: $secondary;
    height: 760px;
}
.video-content
{
    position: absolute;
    z-index: 100;
    margin-top: 0px;
    //float: right;
    padding-right: 5px;
    width: 778px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}